<div >
    <div class="d-flex justify-content-between align-items-center" style="width: 1100px;">
        <div class="square">
            <div class="content">
                <div class="title d-flex justify-content-start align-items-center">
                    <div class="number">71,028</div>
                    <div class="type px-1">EGP</div>
                </div>
                <div class="other-content">
                    <span>Total Value</span>
                    <span class="pt-3 d-flex align-items-center justify-content-between"><span class="triangle"></span><b style="color: #FF7F5C;">2%</b></span>
                </div>
                
            </div>
        </div>
        <div class="square1">
            <div class="content">
                <div class="title d-flex justify-content-start align-items-center">
                    <div class="number">20,000</div>
                    <div class="type px-1 pt-2">m<sup class="power">3</sup></div>
                    
                </div>
                <div class="other-content1">
                    <span>Total Sales</span>
                    <span class=" pt-3 d-flex align-items-center justify-content-between">
                        <span class="triangle1"></span>
                        <b style="color: #00CBC0;">50 m<sup class="power">3</sup></b>
                        
                        
                    </span>
                </div>
                
            </div>
        </div>
        <div class="square1">
            <div class="content">
                <div class="title d-flex justify-content-start align-items-center">
                    <div class="number">20,000</div>
                    <div class="type px-1 pt-2">m<sup class="power">3</sup></div>
                    
                </div>
                <div class="other-content1">
                    <span>Avg Sales</span>
                    <span class="pt-3 d-flex align-items-center justify-content-between">
                        <span class="triangle"></span>
                        <b style="color: #FF7F5C;">50 m<sup class="power">3</sup></b>
                        
                        
                    </span>
                </div>
                
            </div>
        </div>
        <div class="square1" >
            <div class="content" >
                <div class="title d-flex justify-content-start align-items-center">
                    <div class="number">1567</div>
                    
                </div>
                <div class="other-content">
                    <span>Total Transaction count</span>
                    <span class="d-flex align-items-center justify-content-between" ><span class="triangle1"></span><b style="color: #00CBC0;">2%</b></span>
                </div>
                
            </div>
        </div>
    </div>
    
</div>