
<div>
    <div class="rectangle">
        <div class="top-content d-flex justify-content-between">
            <div class="left">Stations Activates over view</div>
            <div class="right d-flex justify-content-between align-items-center">
               <p class="font" style="">SALES</p>
               <div ><p>Transaction</p></div> 
               <p>Value</p> 
               <p>Compression</p> 
            </div>
            
        </div>
        <div class="small-border"></div>
        <div class="border"></div>

        <div class="bottom-content pt-4">
            <div  id="bar-chart" ></div>
        </div>
    </div>
</div>