

<div class="d-flex justify-content-center align-items-center">
<h4>Hourly sales</h4>
</div>

<div class="d-flex align-items-center justify-content-center">
<div class="main-cards pt-5">
                
  <div class="charts-card">
    
    <div  id="areas-chart" ></div>
  </div>
</div> 

</div>

<div class="d-flex justify-content-center align-items-center pt-3">
    <h4>Sales by Station</h4>
</div>

<div class="d-flex align-items-center justify-content-center py-3">
    <div class="final-add">
        <div class="d-flex justify-content-between pt-3 pb-3" style="width: 250px; ">
            <span><i class="fa-solid fa-gas-pump fa-2xl"></i> Station Name</span>
            <span>62,721 m</span>
        </div>
        <span class="progress" style="width: 250px; height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #FF7F5C;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
        </span>

    </div>
</div>
<div class="d-flex align-items-center justify-content-center py-3">
    <div class="final-add">
        <div class="d-flex justify-content-between pt-3 pb-3" style="width: 250px; ">
            <span><i class="fa-solid fa-gas-pump fa-2xl"></i> Station Name</span>
            <span>42,721 m</span>
        </div>
        <span class="progress" style="width: 250px; height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 40%; background-color: #FF7F5C;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
        </span>

    </div>
</div>
<div class="d-flex align-items-center justify-content-center py-3">
    <div class="final-add">
        <div class="d-flex justify-content-between pt-3 pb-3" style="width: 250px; ">
            <span><i class="fa-solid fa-gas-pump fa-2xl"></i> Station Name</span>
            <span>N/A</span>
        </div>
        <span class="progress" style="width: 250px; height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%; background-color: #FF7F5C;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
        </span>

    </div>
</div>